##### 판다스 내장 그래프 도구
- 판다스 Matplotlib 라이브러리의 기능을 일부 내장하고 있어서 별도로 import 하지않고 간단히 그래프를 그릴 수 있다.
- 선 그래프: df.plot() 메소드 적용시 다른 옵션을 추가하지 않으면 가장 기본저깅ㄴ 선 그래프를 그림.
- 막대 그래프: df.plot(kind='bar'),df.plot(kind='barh',stacked=True,alpha=0.8)
- 히스토그램 : df.plot(kind='hist') 확률변수의 분포.
- 산점도: df.plot(x='',y='','kind='scatter') 상관관계를 볼 수 있다.
- 박스 플롯: df.plot(kind='box'), df.boxplot(column=['feature']) 특정 변수의 데이터 분포와 분산정도에 대한 정보를 제공. 분포를 보는것/ 이상치 (outlier)확인하기에 유용

##### Matplotlib
- histobram : plt.hist(x, bin= )
- line plot : plt.plot(x,y)
- plt.bar(x,y, width=, color='')
- scatter plot : plt.scatter(x,y)

##### Seaborn
- sns.distplot(data, bins=, color=, kde=)
- sns.boxplot(x, y, data, color)
- sns.violinplot(x, y, data, color)
- sns.jointplot(x, y, data, color)                       
- sns.parirplot(data, hue, plalette)  여러개 동시에 그림                      
- sns.lmplot(x, y, data, color) scatter/회기그래프
- sns.regplot(x,y,data,fig_reg=False) 회기그래프

In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv('Data/주가데이터.csv')
df

          Date  Close  Start   High    Low  Volume
0   2018-07-02  10100  10850  10900  10000  137977
1   2018-06-29  10700  10550  10900   9990  170253
2   2018-06-28  10400  10900  10950  10150  155769
3   2018-06-27  10900  10800  11050  10500  133548
4   2018-06-26  10800  10900  11000  10700   63039
5   2018-06-25  11150  11400  11450  11000   55519
6   2018-06-22  11300  11250  11450  10750  134805
7   2018-06-21  11200  11350  11750  11200  133002
8   2018-06-20  11550  11200  11600  10900  308596
9   2018-06-19  11300  11850  11950  11300  180656
10  2018-06-18  12000  13400  13400  12000  309787
11  2018-06-15  13400  13600  13600  12900  201376
12  2018-06-14  13450  13200  13700  13150  347451
13  2018-06-12  13200  12200  13300  12050  558148
14  2018-06-11  11950  12000  12250  11950   62293
15  2018-06-08  11950  11950  12200  11800   59258
16  2018-06-07  11950  12200  12300  11900   49088
17  2018-06-05  12150  11800  12250  11800   42485
18  2018-06-04  11900  11900  12200  11700   25171
19  2018-06-01  11900  11800  12100  11750   32062